# KiCad
*.kicad_prl
*.kicad_pro-bak
*.kicad_sch-bak
*.kicad_pcb-bak
*.bak
*-backups/
*.tmp
_autosave-*

# Generated
*.net
*.dsn
*.rpt
*.xml

# Plot outputs
*.gbr
*.drl
*.pos
*.csv

# OS
.DS_Store
Thumbs.db